.shop-by-category-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 4rem 0;
}

.title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
}

@media (min-width: 640px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  position: relative;
  height: 260px;
  border-radius: 1rem;
  background-color: #f8f8f8;
  border: 1px solid black;
  overflow: hidden;
  transition: transform 0.3s, background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card:hover {
  background-color: #e0e0e0;
  transform: translateY(-5px);
}

.card-name {
  position: absolute;
  bottom: 1.25rem;
  left: 2rem;
  font-size: 1.75rem;
  color: var(--text-color);
  transition: color 0.3s;
}

.card:hover .card-name {
  color: #111827;
}
