.form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
}

.paymentElement {
  margin-bottom: 20px;
}

.button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button span {
  color: white;
}

.button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.message {
  margin-top: 10px;
  color: #dc3545;
}
